.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 32px 24px; }
  .news-container .news-item {
    width: 25%;
    padding: 32px 16px; }
    .news-container .news-item .tile-img {
      max-width: 100%;
      height: 100%;
      text-align: center;
      max-height: 200px; }
    .news-container .news-item .title {
      text-align: left;
      padding-top: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #000;
      line-height: 1.15;
      letter-spacing: 0; }
      .news-container .news-item .title a {
        color: #000; }
    .news-container .news-item .description {
      padding-top: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
