@import './../_variables.scss';
@import './../_mixins.scss';

.news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 32px 24px;

    .news-item {
        width: 25%;
        padding: 32px 16px;

        .tile-img{
            max-width: 100%;
            height: 100%;
            text-align: center; 
            max-height: 200px;
        }

        .title {
            text-align: left;
            padding-top: 16px;
            @include font($font-24, $font-weight-400, $black, 1.15, 0);

            a {
                color: $black;
            }
        }

        .description {
            padding-top: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}