@mixin font($fontSize, $fontWeight, $color, $line-height, $letter-spacing) {
    @if $fontSize {
        font-size: $fontSize;
    }
    @if $fontWeight {
        font-weight: $fontWeight;
    }
    @if $color {
        color: $color;
    }

    @if $line-height {
        line-height: $line-height;
    }
    @if $letter-spacing {
        letter-spacing: $letter-spacing;
    }
}